* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CBF0F0;
    font: 14px/1.3 Arial, sans-serif;
}

.pss_main {
    height: 700px;
    position: relative;
    width: 100%;
}

.pss_main > input {
    display: none;
}

.pss_contr {
    background: #27A9F0 url(../images/up.png) no-repeat center center;
    cursor: pointer;
    display: none;
    height: 70px;
    left: 50%;
    opacity: 0.3;
    position: absolute;
    top: 5%;
    width: 70px;
    z-index: 2;
    -webkit-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
    border-radius: 50% ;

}

.pss_contr:hover {
    opacity: 0.7;
}

.sel_page_1:checked ~ .pss_contr.c2 {
    background-image: url(../images/down.png);
    display: block;
    top: 80%;
}

.pss_slides {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.pss_main > input:checked ~ .pss_slides {
    -webkit-transition: all linear 1.0s;
    transition: all linear 1.0s;
}





.pss_slides ul {
    height: 100%;
    list-style: none;
    position: relative;
    top: 0;
    -webkit-transition: top ease-in 1.0s;
    transition: top ease-in 1.0s;
}

.pss_slides ul li {
    height: 100%;
    opacity: 0.1;
    position: relative;
    text-align: center;
    -webkit-transition: opacity ease-in 1.0s;
    transition: opacity ease-in 1.0s;
}

.sel_page_1:checked ~ .pss_slides ul li:first-child{
    opacity: 1;
}

.pss_slides ul li img {
   height: 100%;
    width: 100%;
}

.sel_page_2:checked ~ .pss_slides ul {
    top: -100%;
}

.login-form{
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;

}

